.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.square-container {
  max-width: 372px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  margin-top: 50px;
}

.square {
  width: 60px;
  height: 60px;
  background-color: black;
  cursor: pointer;
}

.square-transparent {
  background-color: transparent;
}